html,
body {
  margin: 0;
  padding: 0;

  height: 100%;

  background-color: #252525;
  color: white;
  text-align: center;

  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;

  overflow: hidden;

  user-select: none;
}

.MainScreen {
  height: 100%;

  display: flex;
  justify-content: space-between;
}

@media (orientation: landscape) {
  .MainScreen {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  .MainScreen {
    flex-direction: column;
  }
}
